<launch>
 <node
    pkg="coppelia_ros2_pkg"
    exec="coppelia_simulator"
    name="coppelia_simulator"
    launch-prefix="mate-terminal --tab --title='cop' -x">

    <param name="coppelia_root_dir" value="~/CoppeliaSim_Edu_V4_3_0_rev12_Ubuntu20_04" />
    <param name="coppelia_scene_path" value="$(find-pkg-share coppelia_ros2_pkg)/scenes/ros2_pioneer.ttt" />
    <param name="coppelia_headless" value="False" />

 </node>
</launch>
