<launch>
    <node pkg="navigation" exec="rndController"    name="rndController" />
    <node pkg="navigation" exec="sqrController"    name="sqrController" />
    <node pkg="navigation" exec="actuator"         name="actuator" />
    <node pkg="turtlesim"  exec="turtlesim_node"   name="simulator" />
</launch>
