<launch>
    <node
            pkg="navigation"
            exec="KeybrdCtrl"
            name="KeybrdCtrl"
            launch-prefix="mate-terminal --tab --title='teclado' -x" />

    <node   pkg="navigation"
            exec="RandomCtrl"
            name="RandomCtrl"
            launch-prefix="mate-terminal --tab --title='aleatorio' -x" />

    <node   pkg="navigation"
            exec="ReactvCtrl"
            name="ReactvCtrl"
            launch-prefix="mate-terminal --tab --title='reactivo' -x" />
    <node
            pkg="navigation"
            exec="SquareCtrl"
            name="SquareCtrl"
            launch-prefix="mate-terminal --tab --title='cuadrado' -x" />

    <node
            pkg="navigation"
            exec="actuator"
            name="actuator"
            launch-prefix="mate-terminal --tab --title='actuador' -x"
            args="--topicpub /PioneerP3DX/cmd_vel" />

</launch>
